body{
    background-color: #1b1b32;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Tahoma;
}

p{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color:white;
    text-decoration: none;
}

button{
    margin-left: 20px;
    padding: 40px 100px;
    background-color: rgba(3, 190, 238, 0.8);
    border:none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}