<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name = "description" content = "">

  <title>Vacation Manager</title>
</head>
<body>
<header>
  <h1 class="mainlogo ">Vacation Management</h1>
</header>
<hr>
<br><br><br><br><br><br>

<div class="accountButtons">
  <center>
    <form action="gotologin">
    <button class="Loginbutton">Login</button>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/gotoregister" method="post">
      <button class="Registerbutton">Register</button>
    </form>
  </center>
</div>

</body>
</html>