<!DOCTYPE html>
<html lang="en">
<head>
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name = "description" content = "">

  <title>Vacation Manager</title>
</head>
<body>

<header>
  <h1 class="logo">Vacation Management</h1>
  <nav>
    <ul class="nav__links">
      <li><a href="#">Services</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">View Team</a></li>
    </ul>
  </nav>
  <a clas="navButton" href="#"><button>Request vacation</button></a>
</header>


<hr>

<div class="accountButtons">
  <center>
    <button class="Loginbutton">Login</button>
    <br>
    <br>
    <br>
    <br>
    <form action="/gotoregister" method="post">
      <button class="Registerbutton">Register</button>
    </form>
  </center>
</div>

</body>
</html>