<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body class="body">
<br><br><br>
<center><h2 class="login-heading">LOGIN</h2>
    <br><br><br><br>
    <div class="outline">
<form action="/login" method="get">
    <label for="nickname" style="display: block;">
        <p class="label-txt">Enter your Username:</p>
        <input id="nickname" name="nickname" type="text" class="input" style="color: #000000" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label for="passwd" style="display: block;">
        <p class="label-txt">Enter your Password:</p>
        <input id="passwd" name="passwd" type="password" class="input" style="color: #000000" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <br><br>
    <button type="login">login</button>
    <br><br>
</form>
    </div>
</center>

</body>
</html>