<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/noAccountErrorCSS.css" rel="stylesheet" type="text/css">
    <title>Error</title>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<center><p>IT SEEMES THAT YOU ARE NOT PART OF A TEAM!</p></center>
<center><p>        PLEASE RETURN TO MAIN PAGE</p></center>
<br><br><br><br>
<form action="/returnToWelcome" method="post">
<center><button class="button" type="submit">RETURN</button></center>
</form>
</body>
</html>