<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link href="css/register.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
<br>
<br>
<br>
<br>
<br>

<div class="outlineBox">
  <h1>Register</h1>
  <p>Please fill out this form with the required information</p>
  <form action="/register" method="post">
    <label for="firstname">Enter Your First Name: </label>
    <input id="firstname" type="text" name="fname" required/> <br/>

    <label for="lastname">Enter Your Last Name: </label>
    <input id="lastname" type="text" name="lname" required/> <br/>

    <label for="nickname">Enter Your Nickname: </label>
    <input id="nickname" type="text" name="nickname" required/> <br/>

    <label for="password">Enter Your Password: </label>
    <input id="password" type="password" name="passwd" required/> <br/>

    <label for="role">Enter Your Role: </label>
    <input id="role" type="text" name="role" required/> <br/>

    <label for="role">Enter Your Team: </label>
    <input id="team" type="text" name="team" required/> <br/>

    <br/>
    <button type="submit">Submit</button>
  </form>
  <br/>
</div>
</body>
</html>
</body>
</html>