<!DOCTYPE html>
<html lang="en">
<head>
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name = "description" content = "">

  <title>Vacation Manager</title>
</head>
<body>

<header>
  <h1 class="logo">Vacation Management</h1>
  <nav>
    <ul class="nav__links">
      <li><a href="#">Create a Team</a></li>
      <li><a href="#">Join Team</a></li>
      <li><a href="/noAccountError">View Team</a></li>
    </ul>
  </nav>
  <a clas="navButton" href="/noAccountError"><button>Request vacation</button></a>
</header>


<hr>

<h1 class ="greetingMessage" th:text="${message}">Welcome</h1>

</body>
</html>